[submodule "thirdparty/transformers"]
	path = thirdparty/transformers
	url = https://github.com/huggingface/transformers.git
[submodule "thirdparty/peft"]
	path = thirdparty/peft
	url = https://github.com/huggingface/peft.git
[submodule "thirdparty/trl"]
	path = thirdparty/trl
	url = https://github.com/huggingface/trl.git
